// CORES
$color-primary:#666666;
$color-primary-light:#3B88FD;
$color-primary-dark:#304C66;
/*$color-graylight:#F7941D;*/
$color-highlight:#23C6C8;
$color-gray:#F7F7F7;
$color-dark-blue:#003367;
$color-dark:#707070; 
$color-default:#F9F9F9;
$color-disabled: #E4E4E4; 
$color-border:#EEE;
$color-border-active:#DDD;

// SIZES
$header-size:100px;
$footer-size:30px;
$nav-min-size:70px;
$gutter:15px;

.color-green{color:#23C6C8}
.color-red {color: #ED5565;}